[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "digital-annealer"]
	path = digital-annealer
	url = https://github.com/GNITOAHC/digital-annealer.git
[submodule "sse-annealer"]
	path = sse-annealer
	url = https://github.com/GNITOAHC/sse-annealer.git
